<%= vite_javascript_tag "actiontext" %>

<%= form_with(model: tweet, html: {class: "grid gap-4"}) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="overflow-scroll">
    <%# TODO: set maxlength %>
    <%= form.rich_text_area :content, maxlength: 256 %>
  </div>

  <div class="actions">
    <%= form.button %>
  </div>
<% end %>
